@import "mixins.less";

@homePageGradStart: #177a8c;
@homePageGradEnd: #198a9e;

html {
  height: 100%;
}

#logo {
  text-align: center;
}

h1 {
  font-family: 'Cantora One', sans-serif;
  font-size: 3em;
}

body {
  #gradient > .vertical(@homePageGradStart, @homePageGradEnd);
}

.brand.author { float: right; }

/* Responsive
-------------------------------------------------- */

@media only screen and (min-width: 974px) {
  body {
    padding-top: 60px;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 60px;
  }
}

/* Tablet
------------------------- */
@media (max-width: 768px) {
  /* Remove any padding from the body */
  body {
    padding-top: 60px;
  }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  /* Remove padding above jumbotron */
  body {
    padding-top: 60px;
  }
}